<div class="card">
    <div class="card-header">
        <a href="/post/{{id}}" class="card-title">{{title}}</a>
    </div>

    <div class="card-content">
        <p class="content">{{post_body}}</p>
    </div>
</div>