<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hi-Tech Blog</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
    <style>
        body {
            font-family: "Trirong", serif;
        }
    </style>
</head>


<body>
  <div class="wrapper">
      <header class="hero">
          <div>
            <nav class"nav">
                    <a class="link" href="/">Home</a>
                    <a class="link" href="/dashboard">Dashboard</a>
                    {{#if loggedIn}}
                    <a class="link" href="/" id="logout">Logout</a>
                    {{else}}
                    <a class="link" href="/login">Login</a>
                    {{/if}}
                </nav>          
          </div>

          <h1 class="app-title"><i class="fab "></i>Hi-Tech Blog</h1>
      </header>

    <main>
      {{{ body }}}
    </main>
  </div>

    {{#if loggedIn}}
    <script src="/public/javascript/logout.js"></script>
    {{/if}}

</body>
</html>

{{!-- <body class="flex-column min-100-vh">
    <nav class="navbar">
        <ul>
            <li class="li-inline nav-item"><a href="/login">Login or Sign Up</a></li>
        </ul>
    </nav>
    <header class="hero">
        <h1 class="app-title"><a href="/">Hi-Tech Blog</a></h1>
    </header>

    <main class="col-auto">
        {{{body}}}
    </main>
</body>
{{#if logged_in}}
<script src='/public/javascript/logout.js'></script>
{{/if}}
</html> --}}