<div class="signup">
  <div class="signup-title">
    <h2>Sign Up</h2>
  </div>
  <form class="signup-form" class="card-body">

    <div>
      <label for="username-signup">Username:</label>
      <input type="text" id="usernamname-signup" />
    </div>

    <div>
      <label for="email-signup">Email:</label>
      <input type="text" id="email-signup" />
    </div>

    <div>
      <label for="password-signup">Password:</label>
      <input type="password" id="password-signup" />
    </div>

    <div class="loginAction">
      <button type="submit" class="btn signup-btn">Signup</button>
    </div>
  </form>
</div>

<script src="javascript/signup.js"></script>