{{> post-info post}}

{{#if logged_in}}
<form class="add-comment">
    <textarea class="comment-body" name="comment-body"></textarea>
    <button class="btn comment-btn" type="submit">Add Comment</button>
</form>
{{/if}}

{{> comments post.comments}}

{{#if logged_in}}
<script src="../public/javascript/comment.js"></script>
{{/if}} 